html
  box-sizing: border-box
  text-decoration: none
  min-height: 100vh
  background-color: #200734
  color: #b9C7dd
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif
  font-weight: normal
  font-style: normal

*, *::before, *::after
  box-sizing: inherit
  text-decoration: inherit

body
  margin: 0
  background: linear-gradient(127deg, #200734, #072534)

p, h1, h2, h3, h4, h5, h6
  margin: 0

a
  color: unset

.font-bold
  font-weight: bold

.font-point
  font-family: Maven-Pro

.font-size-16
  font-size: 16px

.font-size-18
  font-size: 18px

.font-size-23
  font-size: 23px

.font-size-36
  font-size: 36px

.font-size-38
  font-size: 38px

.no-select
  user-select: none

.color-red
  color: #FB3F5F
