html
  box-sizing: border-box
  text-decoration: none
  min-height: 100vh
  background: linear-gradient(127deg, #200734, #072534)
  color: #b9C7dd

*, *::before, *::after
  box-sizing: inherit
  text-decoration: inherit

body
  margin: 0

p, h1, h2, h3, h4, h5, h6
  margin: 0
